<!DOCTYPE html>
<html ng-app="dmmLogin" ng-controller="mainCtrl">
<head>
  <title>DMM Login</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="force-rendering" content="webkit">
  <meta name="renderer" content="webkit"/>
  <meta http-equiv="X-UA-Compatible" content="IE=EDGE"/>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="format-detection" content="telephone=no">

  <!--  favicon  -->
  <link rel="apple-touch-icon" sizes="57x57" href="/asset/favicon/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/asset/favicon/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/asset/favicon/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/asset/favicon/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/asset/favicon/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/asset/favicon/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/asset/favicon/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/asset/favicon/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/asset/favicon/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="/asset/favicon/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/asset/favicon/android-chrome-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="/asset/favicon/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/asset/favicon/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/asset/favicon/manifest.json">
  <link rel="shortcut icon" href="/asset/favicon/favicon.ico">
  <meta name="msapplication-TileColor" content="#2b95df">
  <meta name="msapplication-TileImage" content="/asset/favicon/mstile-144x144.png">
  <meta name="theme-color" content="#2b95df">

  <!--[if lt IE 9]>
  <script src="//cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

  <script src="//cdn.bootcss.com/angular.js/1.4.7/angular.min.js"></script>
  <script src="//cdn.bootcss.com/angular-loading-bar/0.8.0/loading-bar.min.js"></script>
  <link href="//cdn.bootcss.com/angular-loading-bar/0.8.0/loading-bar.min.css" rel="stylesheet">
  <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

  <link href="/asset/style/default.css" rel="stylesheet">
</head>
<body class="noto bg"
      ng-class="{'modal-open': !!redirectModalClass}">
<input type="hidden" id="init-data" value="<?= $init_data ?>">
<div class="container-fluid" role="main">
  <div id="flashWrap" ng-if="gameloaded">
    <embed id="externalswf" width="800" height="480"
           wmode="opaque" quality="high" bgcolor="#000000"
           allowscriptaccess="always" type="application/x-shockwave-flash" base="{{flashBase}}"
           class="center-block" embed-src="{{flashLink}}" src="{{flashLink}}"></embed>
    <button class="relogin btn btn-primary center-block" ng-click="relogin()">re-login</button>
  </div>
  <div class="login-form" ng-if="!gameloaded">
    <h2>DMM Login
      <a href="https://github.com/slime7/dmmlogin" title="view on Github">
        <svg class="github-logo" height="28" viewBox="0 0 16 16" width="28">
          <path
            d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59 0.4 0.07 0.55-0.17 0.55-0.38 0-0.19-0.01-0.82-0.01-1.49-2.01 0.37-2.53-0.49-2.69-0.94-0.09-0.23-0.48-0.94-0.82-1.13-0.28-0.15-0.68-0.52-0.01-0.53 0.63-0.01 1.08 0.58 1.23 0.82 0.72 1.21 1.87 0.87 2.33 0.66 0.07-0.52 0.28-0.87 0.51-1.07-1.78-0.2-3.64-0.89-3.64-3.95 0-0.87 0.31-1.59 0.82-2.15-0.08-0.2-0.36-1.02 0.08-2.12 0 0 0.67-0.21 2.2 0.82 0.64-0.18 1.32-0.27 2-0.27 0.68 0 1.36 0.09 2 0.27 1.53-1.04 2.2-0.82 2.2-0.82 0.44 1.1 0.16 1.92 0.08 2.12 0.51 0.56 0.82 1.27 0.82 2.15 0 3.07-1.87 3.75-3.65 3.95 0.29 0.25 0.54 0.73 0.54 1.48 0 1.07-0.01 1.93-0.01 2.2 0 0.21 0.15 0.46 0.55 0.38C13.71 14.53 16 11.53 16 8 16 3.58 12.42 0 8 0z"></path>
        </svg>
      </a>
    </h2>
    <div class="alert alert-danger" role="alert" ng-show="error">
      <span ng-bind="error">AngularJS load failed.</span>
    </div>
    <input type="email" class="form-control" placeholder="DMM ID" ng-model="login_data.email">
    <input type="password" class="form-control" placeholder="Password" ng-model="login_data.password">
    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me" ng-model="login_data.remember"> Remember me
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="loadType" value="include" ng-model="login_data.loadType">
        include swf
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="loadType" value="redirect" ng-model="login_data.loadType">
        redirect to swf
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="loadType" value="redirect2" ng-model="login_data.loadType">
        redirect to osapi
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block"
            type="submit" ng-disabled="logining" ng-click="login()">
      Sign in
    </button>
    <button class="btn btn-lg btn-success btn-block"
            type="submit" ng-disabled="logining" ng-show="hasCookie"
            ng-click="login(true)">
      Use cookie
    </button>
  </div>
</div>
<div class="modals">
  <div class="modal fade"
       ng-class="{'redirect in': !!redirectModalClass}">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-body">
          redirecting...
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/asset/js/app.js"></script>
</body>
</html>
